body {
    margin: 0;
    background: rgb(77, 120, 188);
    color: #fff;
    font-family: sans-serif;
}

h1{
    color:beige;
    text-align: center;
    text-decoration: underline;
    padding: 10px;
}

h2{
    color:beige;
    text-align: center;
    text-decoration: underline;
    padding: 10px;
}

h3 {
    text-decoration: underline;
    font-family: sans-serif;
    text-align: center;
}
img{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 450px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.historia{
    text-align: justify;
    color: #fff;
}

.explicacion{
    text-align: justify;
    color: #fff;
}

strong {
    font-style: italic;
    color:#ffd
}